html,
body {
    overflow-x: hidden;
    overflow-y: auto;
}

a:hover {
    text-decoration: none;
}

.header {
    text-transform: capitalize;
    font-size: 40px;
}

.header-part {
    height: 300px;
    width: 100%;
    border-radius: 20px;
}

.card{
    height: 85vh;
    border-radius: 20px;
}

@media screen and (max-width:426px) {
    .header-part {
        height: 200px
    }
}

@media screen and (max-width:991px) {
    .card-3 {
        display: none
    }
}